body    {
    background-color: aquamarine;
}

ul  {
    list-style-type: none;
}

h1  {
    font-family: Castellar, fantasy;
}

/* For the lists */
.animal   {

}

.img    {
    width: 65%;
}

/* For Animal titles  */
h2  {

}

/* For Animal text descriptions */
p   {
    width: 25%;
    padding: 25px;
    background-color: aquamarine;
    border: brown;
}
