ul {
  list-style-type: none;
}

h1 {
  font-family: Arial, Helvetica, sans-serif;
}

/* For navigation bar */
ul {
  width: 100%;
  background-color: rgba(101, 0, 148, 0.144);
  display: inline-block;
  font-size: 25px;
  font-style: normal;
  font-weight: bold;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
}

ul a {
  color: wheat;
}
ul a:hover {
  color: red;
}

/* For the lists */
.img {
  height: 75%;
}

.left {
  float: left;
}
.right {
  float: right;
}

.sky {
  font-style: italic;
}

/* Makes the animals look like they are underwater */
.water {
  background-image: linear-gradient(rgb(0, 165, 206), rgb(0, 6, 65));
  --mask: radial-gradient(34.99px at 50% 48px, #000 99%, #0000 101%)
      calc(50% - 60px) 0/120px 100%,
    radial-gradient(34.99px at 50% -18px, #0000 99%, #000 101%) 50% 30px/120px
      100% repeat-x;
  -webkit-mask: var(--mask);
  mask: var(--mask);
}

/* ANIMAL TITLES AND DESCRIPTIONS*/
a {
  color: orange;
}

a:hover {
  color: red;
}

/* Animal links */
h5 {
  width: 90%;
  padding: 25px;
  font-size: x-large;
  background-image: linear-gradient(
    rgba(179, 80, 0, 0.397),
    rgba(0, 174, 255, 0.205)
  );
  border-radius: 15px;
}

/* For Animal text descriptions */
p {
  width: 90%;
  padding: 25px;
  background-image: linear-gradient(
    rgba(0, 65, 70, 0.397),
    rgba(0, 79, 116, 0.274)
  );
  border-radius: 15px;
  font-size: large;
}

/*
Remember to do the on hover thingy here
body p:hover   {
}
*/

body {
  background-image: linear-gradient(rgb(0, 153, 255), rgb(6, 0, 83));
  color: white;

  padding: 75px;
}

/* This is for mobile formatting (Hopefully we will get to this later)
@media  and (max-width: 1024px) 
{
    
}
*/
