#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.gradient-background {
  background: linear-gradient(
    to bottom,
    #0478f4,
    #000000
  ); /* Define your gradient colors here */
  height: 100vh; /* Set the height to 100% of the viewport height */
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  color: #000000; /* Text color for readability */
}
