body {
  background-size: 100%;
  background-image: repeating-linear-gradient(
    to bottom,

    #0478f4,
    #000000
  );
  background-attachment: fixed;
  height: 100%;
  margin: 0;
  align-items: center;
  justify-content: center;
  text-align: center;
  color: #fff;
  font-size: 2rem;
}
